<section class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-10 text-white" style="color: white; background-color: black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
          <li><a href="#" class="nav-link px-10 text-white" style="color: white; background-color: black;">T</a></li>
          <li><a href="#" class="nav-link px-10 text-white" style="color: white; background-color: black;">O</a></li>
          <li><a href="#" class="nav-link px-10 text-white" style="color: white; background-color: black;">D</a></li>
          <li><a href="#" class="nav-link px-10 text-white" style="color: white; background-color: black;">O</a></li>
          <li><a href="#" class="nav-link px-10 text-white" style="color: white; background-color: black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
          <li><a href="#" class="nav-link px-10 text-white" style="color: white; background-color: black;">F</a></li>
          <li><a href="#" class="nav-link px-10 text-white" style="color: white; background-color: black;">O</a></li>
          <li><a href="#" class="nav-link px-10 text-white" style="color: white; background-color: black;">R</a></li>
          <li><a href="#" class="nav-link px-10 text-white" style="color: white; background-color: black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
          <li><a href="#" class="nav-link px-10 text-white" style="color: white; background-color: black;">A</a></li>
          <li><a href="#" class="nav-link px-10 text-white" style="color: white; background-color: black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
          <li><a href="#" class="nav-link px-10 text-white" style="color: white; background-color: black;">B</a></li>
          <li><a href="#" class="nav-link px-10 text-white" style="color: white; background-color: black;">E</a></li>
          <li><a href="#" class="nav-link px-10 text-white" style="color: white; background-color: black;">T</a></li>
          <li><a href="#" class="nav-link px-10 text-white" style="color: white; background-color: black;">T</a></li>
          <li><a href="#" class="nav-link px-10 text-white" style="color: white; background-color: black;">E</a></li>
          <li><a href="#" class="nav-link px-10 text-white" style="color: white; background-color: black;">R</a></li>
          <li><a href="#" class="nav-link px-10 text-white" style="color: white; background-color: black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
          <li><a href="#" class="nav-link px-10 text-white" style="color: white; background-color: black;">T</a></li>
          <li><a href="#" class="nav-link px-10 text-white" style="color: white; background-color: black;">O</a></li>
          <li><a href="#" class="nav-link px-10 text-white" style="color: white; background-color: black;">M</a></li>
          <li><a href="#" class="nav-link px-10 text-white" style="color: white; background-color: black;">O</a></li>
          <li><a href="#" class="nav-link px-10 text-white" style="color: white; background-color: black;">R</a></li>
          <li><a href="#" class="nav-link px-10 text-white" style="color: white; background-color: black;">R</a></li>
          <li><a href="#" class="nav-link px-10 text-white" style="color: white; background-color: black;">O</a></li>
          <li><a href="#" class="nav-link px-10 text-white" style="color: white; background-color: black;">W</a></li>
          <li><a href="#" class="nav-link px-10 text-white" style="color: white; background-color: black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>

        </ul>

      </div>
    </div>
</section>